<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">MN Hospitals</a>
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/app-smallcomponent" routerLinkActive="active">Small Component</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/app-smallcomp2" routerLinkActive="active">Small 2nd Component</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/app-all-doctors" routerLinkActive="active">All Doctors</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-contactnumber" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-login-page" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-avalibleslot" routerLinkActive="active">Slots Checking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-signup" routerLinkActive="active">Patient Signup</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/app-home" routerLinkActive="active">Doctors page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-staff-home" routerLinkActive="active">Staff-Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-patient-home" routerLinkActive="active">Patient-Home</a>
        </li> -->
      </ul>
    </div>
  </nav>
  