h2 {
  text-align: center;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

form {
  margin-bottom: 20px;
}

form label {
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
}

form input {
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

/* Container for slots */
.slots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual Slot Box */
.slot-box {
  border: 2px solid #28a745;
  background-color: #d4edda; /* Light green background */
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

.slot-box p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #155724;
  font-family: 'Poppins', sans-serif;
}
