<div class="container-fluid d-flex justify-content-center align-items-center"
     style="height: 100vh; width: 100vw; background: linear-gradient(to right, #1b2a49, #000000);">
    <div class="card p-4 shadow-lg rounded"
         style="max-width: 400px; width: 100%; background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px); border: none;">
        <h2 class="text-center mb-4 text-white">Login</h2>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="mb-3">
                <label for="email" class="form-label text-white">  Email:</label>
                <input type="email" [(ngModel)]="UserName" name="email" class="form-control rounded-pill" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label text-white">Password:</label>
                <input type="password" [(ngModel)]="Password" name="password" class="form-control rounded-pill" required>
            </div>
            <button type="submit" class="btn w-100 text-white shadow-lg rounded-pill"
                    style="background: linear-gradient(to right, #ff6200, #ff9800); border: none;"
                    [disabled]="loginForm.invalid">
                Login
            </button>
        </form>
        <div class="text-danger mt-3 text-center fw-bold" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="text-center mt-4">
            <p class="text-white">Don't have an account? <a [routerLink]="'/app-signup'" class="text-warning fw-bold">Sign up</a></p>
        </div>
    </div>
</div>
 